p {
  color: black;
  font-size: 18px;
  text-align: center;
}

body {
  background-color: powderblue;
}

footer {
  text-align: center;
  text-align: bottom;
}

ol {
  color: black;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
}

ul {
  color: black;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
}

h2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.home_page_header {
  color: firebrick;
  font-size: 40px
}

.navigation_bar {
  color: ;
}

.usa_swimming {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%;
  image-resolution: snap;
}

.table-of-contents {
  text-align: center;
  font-size: 20px;
  color: firebrick;
}

.table-of-contents2 {
  text-align: center;
  font-size: 20px;
  color: firebrick;
}
